
<div class="posts">

  <% @published.each do |post| %>
    <div class="post">

    <p class="title"> <%= link_to post.title, post , class: 'post-link'%> </p>
    <p id="time-ago"> <%= time_ago_in_words post.created_at %> ago.</p>

    </div>
  <% end %>
  <br>
  
  <% if user_signed_in? then %> 

    <% @drafts.each do |draft| %>
      <div class="post">

        <p class="title"> <%= link_to draft.title, draft , class: 'post-link'%> </p>
        <p id="time-ago"> <%= time_ago_in_words draft.created_at %> ago.</p>

      </div>
    <% end %>
  <% end %>
  <br>

</div>

<% if user_signed_in? then %> 
  <%= link_to 'New Post', new_post_path %>
<% end %>
