<p id='title'> <%= @post.title %> </p>
<p id="time-ago"> <%= time_ago_in_words @post.created_at %> ago.
  <%= social_share_button_tag(@post.title) %>

<% if user_signed_in? then %>
  | viewed <%= @post.view_count %>
<% end %>
</p>
<p>
  <%= markdown(@post.body) %>
</p>


<% if user_signed_in? then %>
  <%= link_to 'Edit', edit_post_path(@post) %>
<% end %>
