<p id="notice"><%= notice %></p>

<p id='title'> <%= @post.title %> </p>
<p id="time-ago"> <%= time_ago_in_words @post.created_at %> ago.</p>
<p>
  <%= markdown(@post.body) %>
</p>


<% if user_signed_in? then %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
